.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.logo {
  font-weight: bold;
}